.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.link {
  display: flex;
  gap: 20px;
}
.btn {
  padding: 10px;
  background-color: #30b868;
}
.early {
  border: 3px solid black;
  border-radius: 12px;
  padding: 10px;
}
.second {
  display: flex;
  justify-content: center;
}
.first-content {
  background-image: url("./assets/hero-bg.png");
}
.first-content h2 {
  text-align: center;
  color: #30b868;
}
banner .image {
  width: 1600px;
  height: 685px;
}
.hero {
  background-image: url("/assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.heroDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
  padding: 30px;
}
.early1 {
  border-radius: 12px;
  padding: 3px;
  background-color: white;
}
.btn1 {
  padding: 10px;
  background-color: #30b868;
  border-radius: 12px;
}
.btn2 {
  border: 2px solid white;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 12px;
}
.heroBtn {
  display: flex;
  gap: 10px;
}
.main {
  /* border: 3px solid brown; */
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}
.par {
  /* border: 3px solid greenyellow; */
}
.cardPar {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.card {
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-shadow: 3px 3px 2px black;
}
.icon {
  border: 1px solid lightcoral;
  border-radius: 50%;
  background-color: lightcoral;
}
.par {
  background-color: rgba(250, 235, 215, 0.171);
}
.sec {
  background-color: 3px solid red;
  width: 500px;
  height: 400px;
}
.third {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

footer {
  display: flex;
  gap: 1100px;
}
.footerlink,
a {
  display: flex;
  height: 10px;
  width: 15px;
}
.list-item {
}
.parent {
  text-align: center;
  color: grey;
}
.first {
  margin-top: 150px;
  margin-bottom: 20px;
  display: flex;
  gap: 100px;
}
.third2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.ulist {
  padding: 0px;
  list-style: none;
}
.ulist > li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.brain {
  margin: 0px;
  font-weight: bold;
  font-size: 50px;
  text-align: start;
}
.bt {
  margin: 0px;
  text-align: start;
  color: gray;
}
.foot1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f6f2;
  padding: 50px;
  gap: 5px;
  border-radius: 12px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footBtn {
  background-color: #30b868;
  padding: 10px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}
.cs1 {
  margin: 0px;
}
.foot2 {
  background-color: #001931;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
}
.socialLink {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.li > img {
  width: 20px;
  margin-left: 5px;
  background-color: white;
  border-radius: 50%;
}
