.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.link {
  display: flex;
  gap: 20px;
}
.btn {
  padding: 10px;
  background-color: #30b868;
}
.early {
  border: 3px solid black;
  border-radius: 12px;
  padding: 10px;
}
.second {
  display: flex;
  justify-content: center;
}
.first-content {
  background-image: url("./assets/hero-bg.png");
}
.first-content h2 {
  text-align: center;
  color: #30b868;
}
banner .image {
  width: 1600px;
  height: 685px;
}
.hero {
  background-image: url("/assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.heroDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
  padding: 30px;
}
.early1 {
  border-radius: 12px;
  padding: 3px;
  background-color: white;
}
.btn1 {
  padding: 10px;
  background-color: #30b868;
  border-radius: 12px;
}
.btn2 {
  border: 2px solid white;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 12px;
}
.heroBtn {
  display: flex;
  gap: 10px;
}
.main {
  /* border: 3px solid brown; */
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}
.par {
  /* border: 3px solid greenyellow; */
}
.cardPar {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.card {
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-shadow: 3px 3px 2px black;
}
.icon {
  border: 1px solid lightcoral;
  border-radius: 50%;
  background-color: lightcoral;
}
.par {
  background-color: rgba(250, 235, 215, 0.171);
}
.first {
  border: 3px solid green;
}
